main {
    width: 100vw;
    height: 130vh;
    background: url("../images/background.png");
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

header {
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 60px;
    background-image: url("../images/background_op.png");
    background-repeat: repeat;
    height: 55px;
    font-size: 20px;
}

header * {
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;

}

.header_sprite {
    border-right: 1px #302e30 solid;
    position: relative;
    float: left;
    width: 75vw;
    padding-left: 80px;

}
.login {
    padding-top: 2px;
    padding-right: 80px;
    text-align: right;
    font-size: 14px;
    float: right;

}
.header_sprite a{
    font-weight: bold;
    text-decoration: none;
}

.header_sprite a:hover {
    color: #3cb878;
}

.login a {
    text-decoration: none;
    color: #3cb878;
}

.login a:hover {
    text-decoration: underline;
 }

.sprite {
    position: absolute;
    right: 5px;
    top: -30px;
    box-sizing: border-box;
    margin-left: 765px;
}

.icon {
     width: 50px;
     height: 50px;
     background-image: url("../images/css_sprites.png");
}

.icon.icon-calend {
    background-position: 0 0;
}

.icon.icon-messeg {
    background-position: 72px 0;
}

.icon.icon-meet {
    background-position: 143px 0;
}

.header_form a:hover{
    text-decoration: underline;
}

.icon:hover  {
    width: 50px;
    height: 50px;
    background-image: url("../images/css_sprites_hover.png");
}

form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    max-width: 400px;
    height: 500px;
     padding: 5px 30px 20px;
     text-align: center;
     color: rgba(2, 2, 2, 0.42);
     background-color: white;
     border-radius: 10px;
 }
.top {
    clear: both;
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
}
.button {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    width: 157px;
    font-size: 16px;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Source Serif Pro', sans-serif;
}

.f  {
    background-color: #305db8;
}
.g {
    background-color: #df4a32;
}
.f:hover {
    background-color: #264b96;
}

.g:hover {
    background-color: #c3412c;
}
.button_before {
    box-sizing: border-box;
    text-align: left;
    font-size: 22px;
    font-weight: bold;

}
.fb {
    border-right: 1px #2b54a5 solid;
    padding-right: 15px;
}

.go {
    border-right: 1px #c8422d solid;
    padding-right: 5px;

}
.button_after {
    padding-left: 18px;
}



fieldset {
      padding: 0;
      box-sizing: border-box;
      margin: 10px auto 0 auto;
      width: 320px;
      border: hidden;
      border-top: 1px #d8d8d8 solid;
      color: #adadad;
  }

  fieldset input:nth-child(6) {
      margin-bottom: 20px;
  }


input[type=text],
input[type=email],
input[type=password]{
    box-sizing: border-box;
    width: 320px;
    margin-top: 10px;
    padding: 10px 0 10px 20px;
}

input:focus {
    box-shadow: 0 2px 4px 2px lightgray;
    border: none;
    outline: none;
}

.create {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
    width: 320px;
    height: 45px;
    background-color: #3cb878;
    font-size: 16px;
    color: white;
}

label {
    margin: 0 auto;
    display: block;
    width: 320px;
    text-align: left
}


.condition {
    font-size: 14px;
    color: black;
}

.condition a{
    text-decoration: none;
    color: #3cb878;
}
.condition a:hover{
    text-decoration: underline;
 }
.header_form * {
    box-sizing: border-box; width: 50%;
    display: inline-block;
    text-decoration: none;
}
.header_form {
    width: 320px;
    margin: 0 auto;
}
.header_form p {
    margin: 15px 0;
    text-align: left;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.header_form a {
    text-align: right;
    font-size: 14px;
    color: #3cb878;
}
 .header_form::before {
     content: "";
     display: block;
     position: absolute;
     width: 18px;
     height: 18px;
     background-color: #3cb878;
     left: 0;
     top: 32px;
 }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


